@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

.main::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(21, 21, 30);
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}

.hero-text {
  margin-top: 0.5rem;
}

.hero-description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.form-container {
  width: 60%;
  margin: 0 auto;
}

.user-input {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin-top: 1rem;
}

input {
  color: black;
}

.submit-btn {
  margin-top: 1rem;
  width: 50px;
  color: black;
}
